[submodule "display-controller"]
	path = display-controller
	url = git@github.com:krikaa/kappV2-display-controller.git
[submodule "door-controller"]
	path = door-controller
	url = git@github.com:krikaa/kappV2-door-controller.git
[submodule "web-interface"]
	path = web-interface
	url = https://github.com/krikaa/kappV2-web-interface
